In [2]:

import pandas as pd

In [3]:
#only loading few columns while readign csv
df = pd.read_csv('airports.csv', usecols=['IATA_CODE', 'AIRPORT'])
df

    IATA_CODE                              AIRPORT
0         ABE  Lehigh Valley International Airport
1         ABI             Abilene Regional Airport
2         ABQ    Albuquerque International Sunport
3         ABR            Aberdeen Regional Airport
4         ABY   Southwest Georgia Regional Airport
..        ...                                  ...
317       WRG                     Wrangell Airport
318       WYS               Westerly State Airport
319       XNA  Northwest Arkansas Regional Airport
320       YAK                      Yakutat Airport
321       YUM           Yuma International Airport

[322 rows x 2 columns]

In [4]:
#test usecols with callable - 1st step 
def test(x):
    print(x)
    return x

df = pd.read_csv('airports.csv', usecols=test)
df

IATA_CODE
AIRPORT
CITY
STATE
COUNTRY
LATITUDE
LONGITUDE
IATA_CODE
AIRPORT
CITY
STATE
COUNTRY
LATITUDE
LONGITUDE
IATA_CODE
AIRPORT
CITY
STATE
COUNTRY
LATITUDE
LONGITUDE

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [5]:
#select only few columns
def test(x):
    if x == 'AIRPORT' or x == 'IATA_CODE':
        return x

df = pd.read_csv('airports.csv', usecols=test)
df

    IATA_CODE                              AIRPORT
0         ABE  Lehigh Valley International Airport
1         ABI             Abilene Regional Airport
2         ABQ    Albuquerque International Sunport
3         ABR            Aberdeen Regional Airport
4         ABY   Southwest Georgia Regional Airport
..        ...                                  ...
317       WRG                     Wrangell Airport
318       WYS               Westerly State Airport
319       XNA  Northwest Arkansas Regional Airport
320       YAK                      Yakutat Airport
321       YUM           Yuma International Airport

[322 rows x 2 columns]

In [6]:
#dont load lattitude and longitude
def test(x):
    if x != 'LATITUDE' and x != 'LONGITUDE':
        return x
df = pd.read_csv('airports.csv', usecols=test)
df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA
1,ABI,Abilene Regional Airport,Abilene,TX,USA
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA
...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA
318,WYS,Westerly State Airport,West Yellowstone,MT,USA
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA
320,YAK,Yakutat Airport,Yakutat,AK,USA
321,YUM,Yuma International Airport,Yuma,AZ,USA

In [7]:
def test(x):
    #if x == 'LATITUDE' or x == 'LONGITUDE':
    if x not in ('LATITUDE' , 'LONGITUDE'):
        return x
    

df = pd.read_csv('airports.csv', usecols=test)
df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA
1,ABI,Abilene Regional Airport,Abilene,TX,USA
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA
...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA
318,WYS,Westerly State Airport,West Yellowstone,MT,USA
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA
320,YAK,Yakutat Airport,Yakutat,AK,USA
321,YUM,Yuma International Airport,Yuma,AZ,USA

In [8]:
df = pd.read_csv('airports.csv', usecols= lambda x: x not in ('LATITUDE' , 'LONGITUDE') )
df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA
1,ABI,Abilene Regional Airport,Abilene,TX,USA
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA
...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA
318,WYS,Westerly State Airport,West Yellowstone,MT,USA
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA
320,YAK,Yakutat Airport,Yakutat,AK,USA
321,YUM,Yuma International Airport,Yuma,AZ,USA

In [9]:
#Azure Machine Learning Studio

In [10]:
df = pd.read_csv('airlines_codes.csv', header=None, names=['codes','airlines'])
df

   codes                      airlines
0     UA         United Air Lines Inc.
1     AA        American Airlines Inc.
2     US               US Airways Inc.
3     F9        Frontier Airlines Inc.
4     B6               JetBlue Airways
5     OO         Skywest Airlines Inc.
6     AS          Alaska Airlines Inc.
7     NK              Spirit Air Lines
8     WN        Southwest Airlines Co.
9     DL          Delta Air Lines Inc.
10    EV   Atlantic Southeast Airlines
11    HA        Hawaiian Airlines Inc.
12    MQ  American Eagle Airlines Inc.
13    VX                Virgin America

In [11]:
df = pd.read_csv('airlines_codes.csv', nrows=10, header=None, names=['codes','airlines'])
df

  codes                airlines
0    UA   United Air Lines Inc.
1    AA  American Airlines Inc.
2    US         US Airways Inc.
3    F9  Frontier Airlines Inc.
4    B6         JetBlue Airways
5    OO   Skywest Airlines Inc.
6    AS    Alaska Airlines Inc.
7    NK        Spirit Air Lines
8    WN  Southwest Airlines Co.
9    DL    Delta Air Lines Inc.

In [18]:
#skip 3 rows  - all three works 
#df = pd.read_csv('airports.csv', nrows=10, skiprows=(1,2,3))
#df = pd.read_csv('airports.csv', nrows=10, skiprows=range(1,4))
df = pd.read_csv('airports.csv', nrows=10, skiprows=lambda x: 0 < x<4)
df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
1,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
2,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
3,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
4,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
5,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
6,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603
7,ADQ,Kodiak Airport,Kodiak,AK,USA,57.74997,-152.49386
8,AEX,Alexandria International Airport,Alexandria,LA,USA,31.32737,-92.54856
9,AGS,Augusta Regional Airport (Bush Field),Augusta,GA,USA,33.36996,-81.96450

In [ ]:
#load last twenty rows 
df = pd.read_csv('airports.csv', nrows=10, skiprows=lambda x: 0 < x<4)