In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('Financial Sample.xlsx', sheet_name='Sheet1')
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [6]:
df=pd.read_excel('Financial Sample.xlsx', sheet_name=[0,1])

In [9]:
df[1]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [10]:
df=pd.read_excel('Financial Sample.xlsx', sheet_name=['Sheet1','Sheet2'])

In [11]:
df

{'Sheet1':               Segment                   Country    Product Discount Band  \
 0          Government                    Canada  Carretera          None
 1          Government                   Germany  Carretera          None
 2           Midmarket                    France  Carretera          None
 3           Midmarket                   Germany  Carretera          None
 4           Midmarket                    Mexico  Carretera          None
 ..                ...                       ...        ...           ...
 695    Small Business                    France   Amarilla          High
 696    Small Business                    Mexico   Amarilla          High
 697        Government                    Mexico    Montana          High
 698        Government                    Canada      Paseo          High
 699  Channel Partners  United States of America        VTT          High

      Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
 0        1618.5                    3          20      32370.0       0.00
 1        1321.0                    3          20      26420.0       0.00
 2        2178.0                    3          15      32670.0       0.00
 3         888.0                    3          15      13320.0       0.00
 4        2470.0                    3          15      37050.0       0.00
 ..          ...                  ...         ...          ...        ...
 695      2475.0                  260         300     742500.0  111375.00
 696       546.0                  260         300     163800.0   24570.00
 697      1368.0                    5           7       9576.0    1436.40
 698       723.0                   10           7       5061.0     759.15
 699      1806.0                  250          12      21672.0    3250.80

          Sales      COGS    Profit       Date  Month Number Month Name  Year
 0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
 1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
 2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
 3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
 4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
 ..         ...       ...       ...        ...           ...        ...   ...
 695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
 696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
 697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
 698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
 699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

 [700 rows x 16 columns],
 'Sheet2':               Segment                   Country    Product Discount Band  \
 0          Government                    Canada  Carretera          None
 1          Government                   Germany  Carretera          None
 2           Midmarket                    France  Carretera          None
 3           Midmarket                   Germany  Carretera          None
 4           Midmarket                    Mexico  Carretera          None
 ..                ...                       ...        ...           ...
 695    Small Business                    France   Amarilla          High
 696    Small Business                    Mexico   Amarilla          High
 697        Government                    Mexico    Montana          High
 698        Government                    Canada      Paseo          High
 699  Channel Partners  United States of America        VTT          High

      Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
 0        1618.5                    3          20      32370.0       0.00
 1        1321.0                    3          20      26420.0       0.00
 2        2178.0                    3          15      32670.0       0.00
 3         888.0                    3          15      13320.0       0.00
 4        2470.0                    3          15      37050.0       0.00
 ..          ...                  ...         ...          ...        ...
 695      2475.0                  260         300     742500.0  111375.00
 696       546.0                  260         300     163800.0   24570.00
 697      1368.0                    5           7       9576.0    1436.40
 698       723.0                   10           7       5061.0     759.15
 699      1806.0                  250          12      21672.0    3250.80

          Sales      COGS    Profit       Date  Month Number Month Name  Year
 0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
 1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
 2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
 3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
 4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
 ..         ...       ...       ...        ...           ...        ...   ...
 695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
 696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
 697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
 698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
 699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

 [700 rows x 16 columns]}

In [12]:
df=pd.concat(pd.read_excel('Financial Sample.xlsx', sheet_name=['Sheet1','Sheet2']))
df

                     Segment                   Country    Product  \
Sheet1 0          Government                    Canada  Carretera
       1          Government                   Germany  Carretera
       2           Midmarket                    France  Carretera
       3           Midmarket                   Germany  Carretera
       4           Midmarket                    Mexico  Carretera
...                      ...                       ...        ...
Sheet2 695    Small Business                    France   Amarilla
       696    Small Business                    Mexico   Amarilla
       697        Government                    Mexico    Montana
       698        Government                    Canada      Paseo
       699  Channel Partners  United States of America        VTT

           Discount Band  Units Sold  Manufacturing Price  Sale Price  \
Sheet1 0            None      1618.5                    3          20
       1            None      1321.0                    3          20
       2            None      2178.0                    3          15
       3            None       888.0                    3          15
       4            None      2470.0                    3          15
...                  ...         ...                  ...         ...
Sheet2 695          High      2475.0                  260         300
       696          High       546.0                  260         300
       697          High      1368.0                    5           7
       698          High       723.0                   10           7
       699          High      1806.0                  250          12

            Gross Sales  Discounts      Sales      COGS    Profit       Date  \
Sheet1 0        32370.0       0.00   32370.00   16185.0  16185.00 2014-01-01
       1        26420.0       0.00   26420.00   13210.0  13210.00 2014-01-01
       2        32670.0       0.00   32670.00   21780.0  10890.00 2014-06-01
       3        13320.0       0.00   13320.00    8880.0   4440.00 2014-06-01
       4        37050.0       0.00   37050.00   24700.0  12350.00 2014-06-01
...                 ...        ...        ...       ...       ...        ...
Sheet2 695     742500.0  111375.00  631125.00  618750.0  12375.00 2014-03-01
       696     163800.0   24570.00  139230.00  136500.0   2730.00 2014-10-01
       697       9576.0    1436.40    8139.60    6840.0   1299.60 2014-02-01
       698       5061.0     759.15    4301.85    3615.0    686.85 2014-04-01
       699      21672.0    3250.80   18421.20    5418.0  13003.20 2014-05-01

            Month Number Month Name  Year
Sheet1 0               1    January  2014
       1               1    January  2014
       2               6       June  2014
       3               6       June  2014
       4               6       June  2014
...                  ...        ...   ...
Sheet2 695             3      March  2014
       696            10    October  2014
       697             2   February  2014
       698             4      April  2014
       699             5        May  2014

[1400 rows x 16 columns]

In [22]:
#multi index data frame 
df.loc['Sheet2']

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [27]:
df.loc[('Sheet2',0)]

Segment                         Government
Country                             Canada
Product                          Carretera
Discount Band                         None
Units Sold                          1618.5
Manufacturing Price                      3
Sale Price                              20
Gross Sales                        32370.0
Discounts                              0.0
 Sales                             32370.0
COGS                               16185.0
Profit                             16185.0
Date                   2014-01-01 00:00:00
Month Number                             1
Month Name                         January
Year                                  2014
Name: (Sheet2, 0), dtype: object

In [28]:
#save to anoher excel sheet
from pandas import ExcelWriter
with ExcelWriter('test1.xlsx') as writer:
    df.to_excel(writer)

In [29]:
df.to_excel('Test2.xlsx')